.App {
  text-align: center;
}

.textInput {
  margin: 10px !important;
}

p {
  display: inline-flex;
  margin: 0;
}

@media only screen and (min-width: 280px) {
  .numbers{
    margin: auto;
    width: 224px !important;
  }
}
.eText{
  display: block;
  overflow-wrap: break-word;
}

.correct {
  color: lightgreen;
}

.wrong {
  color: orangered;
}

.numbers {
  display: block;
  width: 80%;
  margin: 0 10% 0 10%;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
